@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111827; /* bg-gray-900 */
}

::-webkit-scrollbar-thumb {
  background: #4f46e5; /* bg-indigo-600 */
  border-radius: 6px;
  border: 3px solid #111827; /* bg-gray-900 */
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1; /* bg-indigo-500 */
}
